<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="Main">
    <setting id="Port" type="text" label="Port" default="60666"/>
    <setting id="LastPlay" type="text" default="0" visible="false"/>
    <setting type="sep"/>
    <setting id="folder.name" label="Show Folder Name in Search" type="bool" default="false" />
    <setting type="sep"/>
    <setting id="cache.hours" label="Refresh Folders Period (hours)" type="number" default="0" />
</category>
<category label="Timer">
    <setting id="startup" label="Startup" type="bool" default="false" />
    <setting id="timer" type="select" label="Timer Type" default="None" values="None|Time" />
    <setting id="time" type="time" label="Time" default="03:33" visible="eq(-1,Time)"/>
    <setting id="serviced" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false"/>
    <setting type="lsep" label="Update Channels"/>
    <setting id="channels.type" label="Channels Source" type="enum" default="0" values="None|File|Url"/>
    <setting id="channels.file" label="Channels File" type="file" visible="eq(-1,1)" default=''/>
    <setting id="channels.url" label="Channels Url" type="text" visible="eq(-2,2)" default=''/>
    <setting id="channels.clear" label="Clear Channels First" type="bool" default='false'/>
    <setting id="folders.clear" label="Clear Folders First" type="bool" default='true'/>
    <setting type="sep"/>
    <setting id="service.show" label="Show Service Menu Item" type="bool" default='false'/>
</category>
</settings>
